<div class="sidecontent" id="egfr">
	<form id="egfrForm">
		<div id="egfrAdult" class="egfrType">
			  <table id="egfrAdultTable" class="tableContainer">
					<tr>
						<td><h3>ADULT</h3></td>
					</tr>
					<tr>
					  <td align="left" class="inputLabel">Serum Creatinine:&nbsp;</td>
					  <td align="center" colspan="2"><input type="text" class="inputData data" name="screa3" id="screa3" placeholder="mg/dL"></td>
					</tr>
					<tr>
					  <td align="left" class="inputLabel">Age:&nbsp;</td>
					  <td align="center" colspan="2"><input type="text" class="inputData data" name="age" id="age" placeholder="years"></td>
					</tr>
					<tr>
					  <td align="left" class="inputLabel">Gender:&nbsp;</td>
					  <td align="center" class="radioCell"><input class="inputRadio" type="radio" name="egfradgen" id="genm"><label for="genm" class="tableLabel">Male</label></td>
					  <td align="center" class="radioCell"><input class="inputRadio" type="radio" name="egfradgen" id="genf"><label for="genf" class="tableLabel">Female</label></td>
					</tr>
					<tr>
					  <td align="left" class="inputLabel">Race:&nbsp;</td>
					  <td align="center" class="radioCell"><input class="inputRadio" type="radio" name="egfradrace" id="raceb"><label for="raceb" class="tableLabel">Black</label></td>
					  <td align="center" class="radioCell"><input class="inputRadio" type="radio" name="egfradrace" id="raceo"><label for="raceo" class="tableLabel">Others</label></td>
					</tr>
					<tr>
					  <td align="left">eGFR (mL/min/1.73m<sup>2</sup>):&nbsp;</td>
					  <td align="center" colspan="2"><output type="text" class="outputData  data" name="egfr" id="egfrAdultOutput"></td>
					</tr>
			  </table>
				  <input type="button" class="button" value="CALCULATE" onclick="calcegfr()"></input>
				  <input type="button" class="button" value="CLEAR" onclick="clearData()"></input>
				<p><strong>Note:</strong> The formula used in this equation is based on the CKD-EPI Creatinine Equation (2009)</p>
				<p>To be used only for patients >18 years old.</p>
				<p><a onclick="openEgfr('egfrPedia')" href="#">Click here for our egfr Pediatric Calculator</a></p>
		</div>
		
		<div id="egfrPedia" class="egfrType">
			<table id="egfrPediatricTable" class="tableContainer">
				<tr>
					<td><h3>PEDIATRIC</h3></td>
				</tr>		
				<tr>
				  <td align="left" class="inputLabel">Serum Creatinine:&nbsp;</td>
				  <td align="center" colspan="2"><input type="text" class="inputData  data" name="screa3p" id="screa3p"></td>
				</tr>
				<tr>
				  <td align="left" class="inputLabel">Age:&nbsp;</td>
				  <td align="center" colspan="2"><input type="text" class="inputData  data" name="agep" id="agep"></td>
				</tr>
				<tr>
				  <td align="left" class="inputLabel">Gender:&nbsp;</td>
				  <td align="center" class="radioCell"><input class="inputRadio" type="radio" name="egfradgenp" id="genmp"><label for="genmp" class="tableLabel">Male</label></td>
				  <td align="center" class="radioCell"><input class="inputRadio" type="radio" name="egfradgenp" id="genfp"><label for="genfp" class="tableLabel">Female</label></td>
				</tr>
				<tr>
				  <td align="left" class="inputLabel" rowspan="2">Height:&nbsp;</td>
				  <td align="center" colspan="2"><input type="text" class="inputData  data" name="height" id="heightPedia"></td>
				</tr>
				<tr>
				  <td align="center" class="radioCell"><input class="inputRadio" type="radio" name="egfradh" id="hcm"><label for="hcm" class="tableLabel">Centimeters</label></td>
				  <td align="center" class="radioCell"><input class="inputRadio" type="radio" name="egfradh" id="hmet"><label for="hmet" class="tableLabel">Meters</label></td>
				</tr>
				<tr>
				  <td align="left" class="inputLabel">eGFR (mL/min/1.73m<sup>2</sup>):&nbsp;</td>
				  <td align="center" colspan="2"><output type="text" class="outputData  data" name="egfr" id="egfrPediaOutput"></td>
				</tr>
			  </table>
			  <input type="button" class="button" value="CALCULATE" onclick="calcegfr()"></input>
			  <input type="button" class="button" value="CLEAR" onclick="clearData()"></></input>
				<p><strong>Note:</strong> The formula used in this equation is based on the CKD-EPI Creatinine Equation (2009)</p>
				<p><a onclick="openEgfr('egfrAdult')" href="#" >Click here for our egfr Adult Calculator</a></p>
			</table>
		</div>
	</form>

</div>
