<div class="sidecontent" id="tibc">
	<form>
	  <table id="tibct">
		<tr>
		  <td align="right">Iron (µg/dL)&nbsp;</td>
		  <td align="left"><input type="text" name="siron" id="siron" style="color:blue;font-weight:bold" onkeyup="calctibc()"></td>
		</tr>
		<tr>
		  <td align="right">UIBC (µg/dL)&nbsp;</td>
		  <td align="left"><input type="text" name="suibc" id="suibc" style="color:blue;font-weight:bold" onkeyup="calctibc()"></td>
		</tr>
		<tr>
		  <td align="right">TIBC (µg/dL)&nbsp;</td>
		  <td align="center"><output type="text" name="tibc" id="tibc" style="color:blue;font-weight:bold"></td>
		</tr>
	  </table>
	  <input type="button" class="button" value="Reset" onclick="resettibc()"></input>
	</form>
</div> 