<div class="sidecontent" id="transferrin_saturation">
	<form>
	  <table id="tsatt">
		<tr>
		  <td align="right">Iron (µg/dL)&nbsp;</td>
		  <td align="left"><input type="text" name="siron2" id="siron2" style="color:blue;font-weight:bold" onkeyup="calctsat()"></td>
		</tr>
		<tr>
		  <td align="right">UIBC (µg/dL)&nbsp;</td>
		  <td align="left"><input type="text" name="suibc2" id="suibc2" style="color:blue;font-weight:bold" onkeyup="calctsat()"></td>
		</tr>
		<tr>
		  <td align="right">Transferrin Saturation(%)&nbsp;</td>
		  <td align="center"><output type="text" name="tsat" id="tsat" style="color:blue;font-weight:bold"></td>
		</tr>
	  </table>
	  <input type="button" class="button" value="Reset" onclick="resettsat()"></input>
	</form>
</div>      