<div class="sidecontent" id="urea_to_bun">
	<form>
	  <table id="ubunt">
		<tr>
		  <td align="right">Urea (mg/dL)&nbsp;</td>
		  <td align="left"><input type="text" name="surea" id="surea" style="color:blue;font-weight:bold" onkeyup="calcbun()"></td>
		</tr>
		<tr>
		  <td align="right">BUN (mg/dL)&nbsp;</td>
		  <td align="center"><output type="text" name="bun" id="bun" style="color:blue;font-weight:bold"></td>
		</tr>
	  </table>
	  <input type="button" class="button" value="Reset" onclick="resetbun()"></input>
	</form>
</div>  