<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../../assets/css/docPage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>ALBUMIN in COBAS 501</title>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 col-sm-12 col-xs-12">
				<nav id="navbar">
					<header id="navBarHeader">
						<h3>ALBUMIN in COBAS 501</h3>
						<ul class="versions">
							<li>PHDB1/BIO/SOP-029 v2.0</li>
							<li>Issued date: 20-03-2019</li>
							<li>Effective date: 23-03-2019</li>
						</ul>
					</header>
					<hr>
					<ol class="nav nav-pills nav-stacked list-group">
						<a class="nav-link" href="#purpose" rel="internal">
							<li>PURPOSE</li>
						</a>
						<a class="nav-link" href="#principle" rel="internal">
							<li>PRINCIPLE</li>
						</a>
						<a class="nav-link" href="#computer_programs" rel="internal">
							<li>COMPUTER PROGRAMS</li>
						</a>
						<a class="nav-link" href="#responsibilites" rel="internal">
							<li>RESPONSIBILITES</li>
						</a>
						<a class="nav-link" href="#authority" rel="internal">
							<li>AUTHORITY</li>
						</a>
						<a class="nav-link" href="#interface" rel="internal">
							<li>INTERFACE</li>
						</a>
						<a class="nav-link" href="#abbreviations_and_definitions" rel="internal">
							<li>ABBREVIATIONS AND DEFINITIONS</li>
						</a>
						<a class="nav-link" href="#forms_and_files" rel="internal">
							<li>FORMS AND FILES</li>
						</a>
						<a class="nav-link" href="#affiliated_training_documents" rel="internal">
							<li>AFFILIATED TRAINING DOCUMENTS</li>
						</a>
						<a class="nav-link" href="#specimens" rel="internal">
							<li>SPECIMENS</li>
						</a>
						<a class="nav-link" href="#materials" rel="internal">
							<li>MATERIALS</li>
						</a>
						<a class="nav-link" href="#safety_precautions" rel="internal">
							<li>SAFETY PRECAUTIONS</li>
						</a>
						<a class="nav-link" href="#procedures" rel="internal">
							<li>PROCEDURES</li>
						</a>
						<a class="nav-link" href="#calibration" rel="internal">
							<li>CALIBRATION</li>
						</a>
						<a class="nav-link" href="#quality_control" rel="internal">
							<li>QUALITY CONTROL</li>
						</a>
						<a class="nav-link" href="#reference_range" rel="internal">
							<li>REFERENCE RANGE</li>
						</a>
						<a class="nav-link" href="#critical_values" rel="internal">
							<li>CRITICAL VALUES</li>
						</a>
						<a class="nav-link" href="#reportable_intervals" rel="internal">
							<li>REPORTABLE INTERVALS</li>
						</a>
						<a class="nav-link" href="#limitations" rel="internal">
							<li>LIMITATIONS</li>
						</a>
						<a class="nav-link" href="#calculations" rel="internal">
							<li>CALCUALTIONS</li>
						</a>
						<a class="nav-link" href="#performance_characteristics" rel="internal">
							<li>PERFORMANCE CHARACTERISTICS</li>
						</a>
						<a class="nav-link" href="#downtime_procedures" rel="internal">
							<li>DOWNTIME PROCEDURES</li>
						</a>
						<a class="nav-link" href="#references" rel="internal">
							<li>REFERENCES</li>
						</a>
						<a class="nav-link" href="#reviews_and_approvals" rel="internal">
							<li>REVIEWS AND APPROVALS</li>
						</a>
						<p></p>
					</ol>
				</nav>
			</div>
			<div class="col-md-10 col-sm-12 col-xs-12">
				<main id="mainDoc">
					<img id="logo" src="../../assets/phd_logo.png">
					<section>
						<header class="main_header">
							<h2>ALBUMIN in COBAS 501</h2>
						</header>
					</section>
					<div id="contents">
						<ol class="list-group">
							<section id="purpose">
								<header class="section_header"><li>PURPOSE</header>
									<article>
										<ol>
											<li>This procedure describes the quantitative determination of albumin in human serum and plasma. (Test name on analyzer: ALB2).</li>
											<li>Hyperalbuminemia is of little diagnostic significance except in the case of dehydration. Hypoalbuminemia occurs during many illnesses and is caused by several factors: compromised synthesis due either to liver disease or as a consequence of reduced protein uptake; elevated catabolism due to tissue damage (severe burns) or inflammation; malabsorption of amino acids (Crohn’s disease); proteinuria as a consequence of nephrotic syndrome; protein loss via the stool (neoplastic disease). In severe cases of hypoalbuminemia, the maximum albumin concentration of plasma is 2.5 g/dL (380 µmol/L). Due to the low osmotic pressure of the plasma, water permeates through blood capillaries into tissue (edema).</li>
											<li>The determination of albumin allows monitoring of a controlled patient dietary supplementation and serves also as an excellent test of liver function.</li>
										</ol>
									</article>
									</li>
							</section>
							<section id="principle">
								<header class="section_header"><li>PRINCIPLE</header>
									<article>
										<ol>
											<li>Method used: Colorimetric Assay</li>
											<li>At a pH of 4.1, albumin displays a sufficiently cationic character to be able to bind with bromcresol green (BCG), an anionic dye, to form a blue-green complex. The color intensity of the blue-green color is directly proportional to the albumin concentration  in  the sample and is measured photometrically.</li>
											<p class="principle_image"><img src="../../assets/images/principles/alb_principle.jpg" alt="albumin principle"></p>
										</ol>
									</article>
									</li>
							</section>
							<section class="main-section" id="computer_programs">
								<header class="section_header"><li>COMPUTER PROGRAMS</header>
								<article>
									<ol>
										<li>Microsoft</li>
										<li>PCS Labcare</li>
									</ol>
								</article>
								</li>
							</section>
							<section class="main-section" id="responsibilities">
								<header class="section_header"><li>RESPONSIBILITIES</header>
								<article>
									<ol>
										<li>All the staff trained and authorized in the Department of Biochemistry.</li>
										<li><span class="highlight">Laboratory Director</span></li>
									</ol>
								</article>
								</li>
							</section>
							<section class="main-section" id="authority">
								<header class="section_header"><li>AUTHORITY</header>
								<article>
									<ol>
										<li>Laboratory Director.</li>
										<li>Managing Director.</li>
									</ol>
								</article>
								</li>
							</section>
							<section class="main-section" id="interface">
								<header class="section_header"><li>INTERFACE</header>
								<article>
									<ol>
										<li>COBAS 6000 User Manual (External document).</li>
										<li>COBAS 6000 Method Manual (External document).</li>
										<li>PCS LAB CARE Instruction Manual (External document).</li>
										<li>PHDB1/BIO/SOP-028  Operation, Maintenance and Calibration of the Cobas6000 (Internal document).</li>
										<li>PHDB1/QAD/SOP-002 – Internal Quality Control.</li>
										<li>PHDB1/QAD/SOP-003 – Validation of Test Methods.</li>
									</ol>
								</article>
								</li>
							</section>
							<section class="main-section" id="abbreviations_and_definitions">
								<header class="section_header"><li>ABBREVIATIONS and DEFINITIONS</header>
								<article>
									<ol>
										<li>PHDB1 –Proficiency Healthcare Diagnostics Branch 1</li>
										<li>LAB – Laboratory</li>
										<li>BIO - Biochemistry</li>
										<li>SOP – Standard Operating Procedure</li>
										<li>N/A – not applicable.</li>
										<li>FIL – File</li>
										<li>FOR – Form</li>
										<li>QC – Quality Control</li>
										<li>C.f.a.s. – Calibrator for all systems</li>
										<li>SD – Standard Deviation</li>
										<li>CV – Coefficient of Variation</li>
										<li>UOM – Uncertainty of Measurement</li>
									</ol>
								</article>
								</li>
							</section>
							<section class="main-section" id="forms_and_files">
								<header class="section_header"><li>FORMS and FILES</header>
								<article>
									<ol>
										<li>Forms
											<ol class="list-sub-group">
												<li><span class="highlight">HDB1/BIO/FOR-28.5 Daily Maintenance For Cobas 6000</span></li>
												<li><span class="highlight">PHDB1/BIO/FOR-28.6 Monthly Maintenance For Cobas 6000</span></li>
												<li><span class="highlight">PHDB1/QAD/FOR-8.1 Reagent Praparation Tracking form</span></li>
											</ol>
										</li>
										<li>Files
											<ol class="list-sub-group">
												<li>PHDB1/BIO/FIL-05: COBAS 6000 Equipment Validation File.</li>
												<li>PHDB1/BIO/FIL-04: COBAS 6000 Operation, Maintenance, Calibration, and Error Log File.</li>
												<li>PHDB1/BIO/FIL-09:  COBAS 6000 LJ Charts.</li>
											</ol>
										</li>
									</ol>
								</article>
								</li>
							</section>
							<section class="main-section" id="affiliated_training_documents">
								<header class="section_header"><li>AFFILIATED TRAINING DOCUMENT</header>
								<article>
									<ol>
										<li>ATF – Biochemistry Training and Competency Assessment document.</li>
									</ol>
								</article>
								</li>
							</section>
							<section class="main-section" id="specimens">
								<header class="section_header"><li>SPECIMENS</header>
								<article>
									<ol>
										<li>Type of Specimens
											<ol class="list-sub-group">
												<li>Serum</li>
											</ol>
										</li>
										<li>Stability
											<ol class="list-sub-group">
												<li>2.5 months at 20-25 °C</li>
												<li>5 months at 4-8 °C</li>
												<li>4 months at -20 °C</li>
											</ol>
										</li>
									</ol>
								</article>
								</li>
							</section>
							<section class="main-section" id="materials">
								<header class="section_header"><li>MATERIALS</header>
									<article>
										<ol>
											<li>Equipment
												<ol class="list-sub-group">
													<li>COBAS 6000 Analyzer</li>
													<li>Bench Centrifuge</li>
													<li>Digital  pipettes</li>
													<li>Sample racks</li>
													<li>Orbital Shaker</li>
													<li>Vortex Mixer</li>	
												</ol>
											</li>
											<li>Consumables
												<ol class="list-sub-group">
													<li>Sample tubes</li>
													<li>COBAS 6000 sample cups</li>
													<li>Disposable transfer pipettes</li>
													<li>Pipette tips</li>
													<li>Gloves</li>
													<li>Laboratory gown</li>
												</ol>
											</li>
											<li>Reagents
												<ol class="list-sub-group">
													<li>Deionized water</li>
													<li>NaCl Diluent 9%
														<ol class="list-sub-group">
															<li>Cassette handling
																<ol class="list-sub-group">
																	<li>The reagent cassette is ready for use.</li>
																	<li>Shelf life at 2 – 8 °C: Up to the expiration date on the cassette label.</li>
																	<li>Stability on-board the analyzer:  12 weeks </li>
																</ol>
															</li>
														</ol>
													</li>
													<li>COBAS 6000 Reagent Cassette (ALB2)
														<ol class="list-sub-group">
															<li>Cassette handling
																<ol class="list-sub-group">
																	<li>The reagent cassette is ready for use.</li>
																	<li>Shelf life at 15 – 25  °C: Up to the expiration date on the cassette label.</li>
																	<li>Stability on-board the analyzer:  12 weeks.</li>
																</ol>
															</li>
														</ol>
													</li>
													<li>Calibrator: C.F.A.S.
														<ol class="list-sub-group">
															<li><span class="highlight">Preparation</span>
																<ol class="list-sub-group">
																	<li><span class="highlight">To prepare the calibrator, carefully dissolve the contents by adding exactly 3.0 mL of deionized water.</span></li>
																	<li><span class="highlight">Dissolve  the  contents  completely  within  30  minutes  by  occasional gentle swirling. Avoid the formation of foam.</span></li>
																	<li><span class="highlight">Transfer 200 µL aliquots of each reconstituted calibrator into empty aliquot containers (e.g. COBAS 6000 sample cups) labeled with the calibrator  name  and  the  date  reconstituted.  Seal  each  tube  with parafilm.</span></li>
																</ol>
															</li>
															<li><span class="highlight">Storage</span>
																<ol class="list-sub-group">
																	<li><span class="highlight">The unopened calibrator vials are stored in the medical refrigerator at 2-8ºC and are stable until the expiration date indicated on the bottle.</span></li>
																	<li><span class="highlight">Store the aliquoted calibrators at -20°C, protected from light. A label indicating  the  calibrator  name,  date  of  reconstitution,  lot  number, expiry date after opening/reconstitution, and initials of the person who prepared the calibrators, must accompany each batch of reconstituted calibrators.</span></li>
																</ol>
															</li>
															<li><span class="highlight">Handling and stability</span>
																<ol class="list-sub-group">
																	<li><span class="highlight">Ensure  that  aliquots  are  thawed  to  room  temperature  and  properly mixed before use.</span></li>
																	<li><span class="highlight">Stability of the components in the reconstituted calibrator</span>
																		<ol>
																			<li><span class="highlight">8 hours at 15-25 °C </span></li>
																			<li><span class="highlight">2 days at 2-8 °C</span></li>
																			<li><span class="highlight">4 weeks at (-25)-(-15) °C(when frozen once)</span></li>
																		</ol>
																	</li>
																</ol>
															</li>
														</ol>
													</li>
												</ol>
											</li>
										</ol>
									</article>
									</li>
							</section>
							<section class="main-section" id="safety_precautions">
								<header class="section_header"><li>SAFETY PRECAUTIONS</header>
								<article>
									<ol>
										<li>Refer to the safety precautions stated in the <a href="#safety_manual">PHDB1 Laboratory Safety Manual</a>.</li>
									</ol>
								</article>
								</li>
							</section>
							<section class="main-section" id="procedures">
								<header class="section_header"><li>PROCEDURE</header>
								<article>
									<ol>
										<li>Analysis on the COBAS 6000
											<ol class="list-sub-group">
												<li>Refer to <a href="#cobas_omc">PHDB1/BIO/SOP-028 – Operation, Maintenance, and Calibration of the COBAS 6000</a> for detailed instructions on how to process samples.</li>
											</ol>
										</li>
										<li>Reporting of results
											<ol class="list-sub-group">
												<li>Unit used in reporting values is g/dL.</li>
												<li>Completed results are interfaced with the laboratory information system (PCS LAB CARE).</li>
												<li>Refer  to  the  <a href="#labcare_instruction_manual">PCS  LAB  CARE  Instruction  Manual</a>  for  the  procedure  in preparation and verification of patient reports.</li>
											</ol>
										</li>
									</ol>
								</article>
								</li>
							</section>
							<section class="main-section" id="calibration">
								<header class="section_header"><li>CALIBRATION</header>
								<article>
									<ol>
										<li>Required calibrators
											<ol class="list-sub-group">
												<li>C.F.A.S.</li>
												<li>Deionized water as blank</li>
											</ol>
										</li>
										<li>Frequency of calibration
											<ol class="list-sub-group">
												<li>Every 4 weeks.</li>
												<li>Each change in reagent lot.</li>
												<li>As	required	by	internal	quality	control	procedures.	Refer to <a href="#iqc">PHDB1/QAD/SOP-002 – Internal Quality Control.</a></li>
											</ol>
										</li>
										<li>Calibration Procedure
											<ol class="list-sub-group">
												<li>Refer to <a href="calibration">PHDB1/BIO/SOP-028</a> for instructions on how to perform a calibration on the COBAS 6000.</li>
											</ol>
										</li>
										<li>Calibration verification and troublshooting procedure
											<ol class="list-sub-group">
												<li>Refer to <a href="calibration">PHDB1/BIO/SOP-028</a> for instructions on how to perform a calibration on the COBAS 6000.</li>
											</ol>
										</li>
									</ol>
								</article>
								</li>
							</section>
							<section class="main-section" id="quality_control">
								<header class="section_header"><li>QUALITY CONTROL</header>
								<article>
									<ol>
										<li>Required QC materials
											<ol class="list-sub-group">
												<li><mark>Precicontrol Clinchem 1(PCCC1)</mark></li>
												<li><mark>Precicontrol Clinchem 2(PCCC2)</mark></li>
											</ol>
										</li>
										<li>QC procedure
											<ol class="list-sub-group">
												<li><mark>Refer to <a href="qc">PHDB1/BIO/SOP-028</a> for instructions on how to perform a calibration on the COBAS 6000.</mark></li>
											</ol>
										</li>
										<li>QC frequency
											<ol class="list-sub-group">
												<li>Please refer to <a href="iqc">PHDB1/BIO/POL-003 INTERNAL QUALITY CONTROL IN THE BIOCHEMISTRY SECTION</a> for the frequency.</li>
											</ol>
										</li>
										<li>QC criteria and troubleshooting
											<ol class="list-sub-group">
												<li>Westgard rules are applied to the QC results data.</li>
												<li>Refer to <a href="#">PHDB1/QAD/SOP-002</a> for corrective actions for QC errors.</li>
											</ol >
										</li>
									</ol>
								</article>
								</li>
							</section>
							<section class="main-section" id="reference_range">
								<header class="section_header"><li>REFERENCE RANGE</header>
								<article>
									<ol>
										<li>Adults
											<ol class="list-sub-group">
												<li>39.7 - 49.4 g/L </li>
												<li>3.97 - 4.94 g/dL </li>
												<li>603 - 751 µmol/L</li>
											</ol>
										</li>
										<li>Children
											<ol class="list-sub-group">
												<li>4 days - 14 years
													<ol class="list-sub-group">
														<li>38 - 54 g/L </li>
														<li>3.8 - 5.4 g/dL</li>
														<li>578 - 821 µmol/L </li>
													</ol>
												</li>
												<li>14-18  years
													<ol class="list-sub-group">
														<li>32 - 45 g/L </li>
														<li>3.2 - 4.5 g/dL</li>
														<li>486 - 684 µmol/L</li>
													</ol>
												</li>
											</ol>
										</li>
										<li>Newborn (0-4 days)
											<ol class="list-sub-group">
												<li>28 - 44 g/L</li>
												<li>2.8 - 4.4 g/dL </li>
												<li>426 - 669 µmol/L </li>
											</ol>
										</li>
									</ol>
									
								</article>
								</li>
							</section>
							<section class="main-section" id="critical_values">
								<header class="section_header"><li>CRITICAL VALUES</header>
								<article>
									<li>N/A</li>
								</article>
								</li>
							</section>
							<section class="main-section" id="reportable_intervals">
								<header class="section_header"><li>REPORTABLE INTERVALS</header>
								<article>
									<ol>
										<li>2-60 g/L (30.4-912 µmol/L, 0.2-6 g/dL)</li>
										<li>Determine samples having values higher than the measuring range via the rerun function.  Recommended  dilution  of  samples  via  the  rerun  function  is  a  1:3 dilution.</li>
									</ol>
								</article>
								</li>
							</section>
							<section class="main-section" id="limitations">
								<header class="section_header"><li>LIMITATIONS</header>
								<article>
									<ol>
										<li>Icterus:  No significant interference up to an I index of 60 for conjugated and unconjugated bilirubin (approximate conjugated and unconjugated bilirubin concentration: 1026 μmol/L or 60 mg/dL).</li>
										<li>Hemolysis: No significant interference up to an H index of 1000 (approximate hemoglobin concentration: 621 µmol/L or 1000 mg/dL)</li>
										<li>Lipemia (Intralipid): No significant interference up to an L index of 550. There is poor correlation between the L index (corresponds to turbidity) and triglycerides concentration.</li>
										<li>Drugs: No interference was found at therapeutic concentrations using common drug panels. In very rare cases, gammopathy, in particular type IgM (Waldenström’s macroglobulinemia), may cause unreliable results.</li>
										<li>Colorimetric methods used for the determination of Albumin may lead to falsely elevated test results in patients suffering from renal failure or insufficiency due to interference with other proteins. Immunoturbidimetric methods are less affected.</li>
									</ol>
								</article>
								</li>
							</section>
							<section class="main-section" id="calculations">
								<header class="section_header"><li>CALCUALTIONS</header>
								<article>
									<ol>
										<li>Conversion factors
											<ol class="list-sub-group">
												<li>g/L x 15.2 = µmol/L </li>
												<li>µmol/L x 0.0658 = g/L</li>
												<li>g/L x 0.1 = g/dL</li>
											</ol>
										</li>
									</ol>
								</article>
								</li>
							</section>
							<section class="main-section" id="performance_characteristics">
								<header class="section_header"><li>PERFORMANCE CHARACTERISTICS</header>
								<article>
									<ol class="list-sub-group">
										<li>Precision
											<ol>
												<li>Reproducibility was validated by PHDB1 Referral Laboratory using controls .For the manufacturer’s data, refer to the <a href="cobas_method_manual">COBAS 6000 Method Manual</a>. For details on the validation of Precision refer to <a href="precision">PHDB1/QAD/SOP-003-Validation of Test Methods and COBAS 6000 Equipment and validation file/Precision.</a></li>
											</ol>
										</li>
										<li>Accuracy
											<ol class="list-sub-group">
												<li>For details, refer to the <a href="accuracy">PHDB1/QAD/SOP-003 – Validation of Test Methods and COBAS 6000 Equipment and validation file/Accuracy.</a></li>
											</ol>
										</li>
										<li>Linearity Studies/Analytical Measuring Range Validation
											<ol class="list-sub-group">
												<li>For details, refer to the <a href="linearity">PHDB1/QAD/SOP-003 – Validation of Test Methods and COBAS 6000 Equipment and validation file/Linearity studies.</a></li>
											</ol>
										</li>
										<li>Carry-over studies
											<ol class="list-sub-group">
												<li>For details, refer to the <a href="linearity">PHDB1/QAD/SOP-003 – Validation of Test Methods and COBAS 6000 Equipment and validation file/Carry Over studies.</a></li>
											</ol>
										</li>
										<li>Comparison study (Correlation Study)
											<ol class="list-sub-group">
												<li>For details, refer to the <a href="linearity">PHDB1/QAD/SOP-003 – Validation of Test Methods and COBAS 6000 Equipment and validation file/Comparison study.</a></li>
											</ol>
										</li>
									</ol>
								</article>
								</li>
							</section>
							<section  class="main-section" id="downtime_procedures">
								<header class="section_header"><li>DOWNTIME PROCEDURES</header>
								<article>
									<ol>
										<li>In case PCS LAB CARE is down, use the downtime form for Biochemistry in reporting results.</li>
										<li>In case the test cannot be done, such as in failed QC, unavailability of reagents or consumables, or prolonged instrument downtime, the sample will be sent to PHD-AUH.</li>
									</ol>
								</article>
								</li>
							</section>
							<section class="main-section" id="references">
								<header class="section_header"><li>REFERENCES</header>
								<article>
									<ol>
										<li><a href="#">Roche COBAS 6000 User Manual. 2006.</a></li>
										<li><a href="#">Roche COBAS 6000 Method Manual V5, 2010.</a></li>
										<li><a href="#">Roche  Diagnostics, Reference Ranges for Adults and Children:Pre-Analytical Considerations.</a></li>
										<li><a href="#">College  of  American  Pathologists – “Chemistry  and  Toxicology  Accreditation Checklist - 2013.</a></li>
										<li><a href="#">Health Authority of Abu Dhabi (HAAD)  current standards.</a></li>
									</ol>
								</article>
								</li>
							</section>
							<section class="main-section" id="reviews_and_approvals">
								<header class="section_header">REVIEWS and APPROVALS</header>
								<article>
									<p><img class="approvals" src="../../assets/images/approvals/phd_bio_sop_29_v2_albumin.jpg" alt="albumin approval"></p>
								</article>
							</section>
						</ol>
					</div>
				</main>
			</div>
		</div>
	</div>

	
</body>