{% extends 'bootstrap/base.html' %}

{% block title %}
	{% if title %}
	labApp - {{ title }}
	{% else %}
	labApp
	{% endif %}
{% endblock %}

{% block navbar %}
	
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ url_for('index')}}">labApp</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{{ url_for('explore')}}">Explore</a></li>
					<li><a href="{{ url_for('calculators')}}">Calculators</a></li>
					<li><a href="{{ url_for('quality_control')}}">Quality Control</a></li>
					{% if current_user.is_anonymous %}
					<li><a href="{{ url_for('document_control_sample') }}">Document Control</a></li>
					{% else %}
					<li><a href="{{ url_for('document_control', username=current_user.username) }}">Document Control</a></li>
					{% endif %}
					<li><a href="{{ url_for('inventory_manager')}}">Inventory</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if current_user.is_anonymous %}
					<li><a href="{{ url_for('login') }}">Login</a></li>
					{% else %}
					<li><a href="{{ url_for('index')}}">Home</a></li>
					<li><a href="{{ url_for('user', username=current_user.username) }}">{{ current_user.username }}</a></li>
					<li><a href="{{ url_for('logout') }}">Logout</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
{% endblock %}

{% block content %}
	<div class="container">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-info" role="alert">{{ message }}</div>
			{% endfor %}
		{% endif %}
		{% endwith %}
		
				
		{% block app_content %}
		{% endblock %}
	</div>
{% endblock %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/calculator.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/inventory.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/company.css')}}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<link rel="shortcut icon" href="/static/underconstruction.gif">
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
	<script src="{{url_for('static', filename='js/calculator.js')}}"></script>
	<script src="{{url_for('static', filename='js/biochem.js')}}"></script>
	<script src="{{url_for('static', filename='js/inventory.js')}}"></script>
{% endblock %}